<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="display-4">ng2-chess</h1>
        <h3>The Angular 2 module for Chess UIs</h3>
      </div>
      <div class="col">
        <div class="header-widget">
          <kbd>npm i ng2-chess --save</kbd>
        </div>
        <div class="header-widget">
          <a class="btn btn-primary" href="https://github.com/loicmarie/ng2-chess">View on GitHub</a>
        </div>
        <div class="header-widget">
          <iframe frameborder="0" height="20px" class="github-button" scrolling="0" src="https://ghbtns.com/github-btn.html?user=loicmarie&amp;repo=ng2-chess&amp;type=star&amp;count=true" width="170px"></iframe>
          <iframe frameborder="0" height="20px" class="github-button" scrolling="0" src="https://ghbtns.com/github-btn.html?user=loicmarie&amp;repo=ng2-chess&amp;type=fork&amp;count=true" width="170px"></iframe>
        </div>
      </div>
    </div>
  </div>
</header>
<section>

  <ul class="header-nav nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-examples-tab" data-toggle="pill" href="#pills-examples" role="tab" aria-controls="pills-examples" aria-selected="true">Example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-doc-tab" data-toggle="pill" href="#pills-doc" role="tab" aria-controls="pills-doc" aria-selected="false">Documentation</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-examples" role="tabpanel" aria-labelledby="pills-examples-tab">

    </div>

    <div class="tab-pane fade" id="pills-doc" role="tabpanel" aria-labelledby="pills-doc-tab">
      <div class="row">
        <div class="col-2">
          <nav id="section-nav">
            <ul class="content-nav nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#variables">Variables</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#methods">Methods</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#events">Events</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col" data-spy="scroll" data-target="#section-nav" data-offset="0">
          <h2 id="installation">Installation</h2><br/>
          <pre><code>  npm i ng2-chess --save</code></pre>

        </div>
      </div>
    </div>
  </div>

</section>
